<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update user data</title>
    </head>
    <body>
        <form action="#" th:method="PUT" th:action="@{/user-update}" th:object="${user}">
            <input type="hidden" th:field="*{id}" id="id" value="*{id}">
            <input type="text" th:field="*{name}" id="name" placeholder="First Name">
            <label for="name">Name</label>
            <br>
            <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
            <label for="lastName">Last Name</label>
            <br>
            <input type="text" th:field="*{email}" id="email" placeholder="E-mail">
            <label for="email">E-mail</label>
            <br>
            <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Phone Number">
            <label for="phoneNumber">Phone Number</label>
            <br>
            <input type="submit" value="Update User">
        </form>
    </body>
</html>